<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>森.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BFD10D81E82AAB900696B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BFD10F11E82AABA00696B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BFD10FC1E82AABA00696B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
